/* ---------- LANGUAGE SWITCHER ---------- */

.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 170px;
    padding: 0 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    @include mobile {
        height: 24px;
        width: 140px;
        padding: 0 4px;
    }
}

/* radio скрываем */
.switcher-wrapper input[type="radio"] {
    display: none;
}

/* label */
.switcher-wrapper .switcher {
    flex: 1 1 calc(100% / 5);
    text-align: center;
    padding: 3px 0;
    z-index: 2;
    color: var(--accent);
    transition: color .25s ease;

    @include mobile {
        font-size: 13px;
        padding: 1px 0;
    }
}

.switcher-wrapper .switcher:hover {
    opacity: 0.8;
}

.switcher-wrapper input:checked + .switcher {
    color: #fff;
}

.lang-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 12px) / 5);
    height: 28px;
    border-radius: 50%;
    background: var(--accent);
    z-index: 1;
    transition: left .25s ease;

    @include mobile {
        width: calc((100% - 8px) / 5);
        height: 20px;
    }
}

/* --- позиции для 5 языков --- */

.switcher-wrapper input:nth-of-type(1):checked ~ .lang-placeholder {
    left: 6px;
}

.switcher-wrapper input:nth-of-type(2):checked ~ .lang-placeholder {
    left: calc(6px + 1 * ((100% - 12px) / 5));
}

.switcher-wrapper input:nth-of-type(3):checked ~ .lang-placeholder {
    left: calc(6px + 2 * ((100% - 12px) / 5));
}

.switcher-wrapper input:nth-of-type(4):checked ~ .lang-placeholder {
    left: calc(6px + 3 * ((100% - 12px) / 5));
}

.switcher-wrapper input:nth-of-type(5):checked ~ .lang-placeholder {
    left: calc(6px + 4 * ((100% - 12px) / 5));
}
