h1.title-1 {
	margin: 1em 0 0.5em;
	font-size: 80px;
	// font-size: clamp(2rem, 0.909rem + 5.45vw, 5rem);
	font-size: 66px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: var(--font-main);
	color: #fff;
}

.title-2 {
	margin: 1em 0 0.5em;
	// font-size:clamp(2.125rem, 1.761rem + 1.82vw, 3.125rem);
	font-size: 40px;	
	font-weight: 500;
	font-family: var(--font-main);
	text-transform: capitalize;
	margin-bottom: 40px;
	text-align: center;	
	
}

.title-3 {
	margin: 1em 0 0.5em;
	font-size: 26px;
	font-weight: 700;
	font-family: var(--font-titles);
	text-transform: uppercase;
	text-align: center;
}

h3.applications__subtitle{
	text-align: center;
}

.title-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}