.uses-cases__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 40px;
  margin-top: 40px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.uses-cases__item {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
}

.uses-cases__image {
  margin-bottom: 16px;
}

.uses-cases__image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.uses-cases__text {
  margin-top: auto;      // ⬅ прижимает текст к низу карточки
  text-align: center;
}

.uses-cases__text p {
  font-weight: 600;
  margin-bottom: 12px;
}

.uses-cases__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    justify-content: left;

    &::before {
      content: "✓";
      font-weight: 700;
      line-height: 1;
      flex-shrink: 0;
    }
  }
}

.uses-cases__description {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: left;
}